<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title (click)="toggled = false">{{ "Vehicle List" | translate }}</ion-title>
    <ion-buttons end>
      <div>
        <ion-icon style="font-size: 2.2em;" color="light" *ngIf="!toggled" (click)="toggle()" name="search"></ion-icon>
        <ion-searchbar *ngIf="toggled" (ionInput)="callSearch($event)" (ionClear)="onClear($event)"
          (ionCancel)="cancelSearch($event)"></ion-searchbar>
      </div>
    </ion-buttons>
    <ion-buttons end *ngIf="((dealer_Permission == true)||(dealer_Permission === undefined)) || isSuperAdmin">
      <button ion-button icon-only (click)="openAdddeviceModal()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <progress-bar *ngIf="loadProgress !== 100" [progress]="loadProgress"></progress-bar>
  <ion-segment mode="md" color="gpsc" scrollable="true" (ionChange)="segmentChanged($event)" [(ngModel)]="checkIfStat">
    <ion-segment-button class="seg" style="color: #f0810f;" value="ALL">
      <!-- <ion-label>ALL</ion-label> -->
      <ion-icon name="car" style="color: #f0810f;"></ion-icon>
    </ion-segment-button>
    <ion-segment-button style="color: #11a46e;" value="RUNNING">
      <!-- <ion-label>RUNNING</ion-label> -->
      <ion-icon name="car" style="color: #11a46e;"></ion-icon>
    </ion-segment-button>
    <ion-segment-button style="color: #ff3f32;" value="STOPPED">
      <!-- <ion-label>STOPPED</ion-label> -->
      <ion-icon name="car" style="color: #ff3f32;"></ion-icon>
    </ion-segment-button>
    <ion-segment-button style="color: #ffc13c;" value="IDLING">
      <!-- <ion-label>IDLE</ion-label> -->
      <ion-icon name="car" style="color: #ffc13c;"></ion-icon>
    </ion-segment-button>
    <ion-segment-button style="color: #1bb6d4;" value="OUT OF REACH">
      <!-- <ion-label>OUT OF REACH</ion-label> -->
      <ion-icon name="car" style="color: #1bb6d4;"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <!-- <ion-searchbar (ionInput)="callSearch($event)" (ionClear)="onClear($event)"></ion-searchbar> -->
</ion-header>

<ion-content *ngIf="!hideMe">
  <!-- <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="{{'Refreshing...' | translate}}">
    </ion-refresher-content>
  </ion-refresher>-->

  <!-- Default Spinner -->
  <!-- <div *ngIf="(loadProgress !== 100) && (allDevicesSearch === undefined || allDevicesSearch.length === 0)" style="text-align: center; margin-top: 2%;"> -->
  <div *ngIf="(allDevicesSearch.length === 0) && !showEmptyStatus" style="text-align: center; margin-top: 2%;">
    <ion-spinner color="gpsc"></ion-spinner>
    <p>Loading...</p>
  </div>

  <!-- <div *ngIf="(loadProgress === 100) && (allDevicesSearch.length === 0)" style="text-align: center; margin-top: 2%;"> -->
  <div *ngIf="showEmptyStatus" style="text-align: center; margin-top: 2%;">
    <p>No <span *ngIf="checkIfStat != 'ALL'">{{checkIfStat | titlecase}}</span> vehicle(s) found.</p>
  </div>

  <div *ngIf="allDevicesSearch.length > 0">
    <ion-card *ngFor="let d of allDevicesSearch; let i = index">

      <div *ngIf="d.expiration_date < now" style="position: relative">
        <div>
          <ion-item style="background-color: rgba(0, 0, 0, 0.9)">
            <ion-avatar item-start *ngIf="iconCheck(d.status,d.iconType)">
              <img *ngIf="d.iconType === 'jcb'" width='30px' style="margin-left: 10px;" src={{devIcon}}>
              <img *ngIf="d.iconType != 'jcb'" width='20px' style="margin-left: 10px;" src={{devIcon}}>
            </ion-avatar>
            <div>
              <h2 style="color: gray">{{ d.Device_Name }}</h2>
              <p style="color:gray;font-size: 10px;font-weight: 400;margin:0px;" ion-text text-wrap>
                <span style="text-transform: uppercase; color: red;">{{ d.status }}
                </span>
                <span *ngIf="d.status_updated_at">{{ "since" | translate }}&nbsp;{{
                  d.status_updated_at | date: "medium"
                }}
                </span>
              </p>
            </div>
          </ion-item>
          <ion-row style="background-color: rgba(0, 0, 0, 0.9)" padding-right>
            <ion-col width-20 style="text-align:center"></ion-col>
            <ion-col width-20 style="text-align:center"></ion-col>
            <ion-col width-20 style="text-align:center"></ion-col>
            <ion-col width-20 style="text-align:center"></ion-col>
            <ion-col width-20 style="text-align:center"></ion-col>
            <ion-col width-20 style="text-align:center">
              <button ion-button outline color="secondary" (tap)="activateVehicle(d)">
                Activate
              </button></ion-col>
          </ion-row>
        </div>
      </div>

      <div *ngIf="d.expiration_date == null || d.expiration_date > now">
        <ion-item style="padding: 0px;" (click)="showBottomDrawer(d)">
          <ion-avatar item-start *ngIf="iconCheck(d.status,d.iconType)">

            <img *ngIf="d.iconType === 'jcb'" width='30px' style="margin-left: 10px;" src={{devIcon}} />
            <img *ngIf="d.iconType != 'jcb'" width='20px' style="margin-left: 10px;" src={{devIcon}} />
          </ion-avatar>
          <div>
            <p style="color: black; font-size: 4vw; padding-right: 8px;">
              {{ d.Device_Name }} &nbsp;&nbsp;
            </p>

            <p style="color:#cf1c1c;font-size:8px;font-weight: 400;margin:0px;" ion-text text-wrap
              (onCreate)="getDuration(d, i)">
              <span style="text-transform: uppercase; color:#11a46e"
                *ngIf="d.status === 'RUNNING'">{{ d.status | lowercase }} </span>
              <span style="text-transform: uppercase; color:#1bb6d4"
                *ngIf="d.status === 'OUT OF REACH'">{{ d.status | lowercase }} </span>
              <span style="text-transform: uppercase; color:#ff3f32"
                *ngIf="d.status === 'STOPPED'">{{ d.status | lowercase }} </span>
              <span style="text-transform: uppercase; color:#ffc13c"
                *ngIf="d.status === 'IDLING'">{{ d.status | lowercase }} </span>
              <span style="text-transform: uppercase; color:#5a5e5c"
                *ngIf="d.status === 'NO DATA'">{{ d.status | lowercase }} </span>
              <span *ngIf="d.last_ping_on">{{ "since" | translate }}&nbsp;{{
                d.duration}} <br /> {{"Last updated - " | translate}} {{d.last_ping_on | date:'shortTime'}},
                {{d.last_ping_on | date: 'mediumDate'}}
              </span>
            </p>
          </div>

          <div item-end style="padding: 3px;" *ngIf="islogin.fuel_unit === 'PERCENTAGE'">
            <ion-row>
              <ion-col col-12 style="text-align: center; padding: 0px;">
                <img src="assets/imgs/fuel.png" style="width: 25px; height: 25px; margin: auto;" />
                <!-- <ion-icon name="speedometer" color="gpsc" style="font-size: 1.5em;"></ion-icon> -->
              </ion-col>
              <ion-col col-12 style="text-align: center; padding: 0px;">
                <p style="margin: 0px;font-weight: 600;">{{ d.fuel_percent ? d.fuel_percent : N/A }} <span
                    style="font-size: 0.7em;font-weight: 600;">%</span></p>
              </ion-col>
            </ion-row>
          </div>

          <div item-end style="padding: 3px;" *ngIf="islogin.fuel_unit === 'LITRE'">
            <ion-row>
              <ion-col col-12 style="text-align: center; padding: 0px;">
                <img src="assets/imgs/fuel.png" style="width: 25px; height: 25px; margin: auto;" />
                <!-- <ion-icon name="speedometer" color="gpsc" style="font-size: 1.5em;"></ion-icon> -->
              </ion-col>
              <ion-col col-12 style="text-align: center; padding: 0px;">
                <p style="margin: 0px;font-weight: 600;">{{ d.currentFuel ? d.currentFuel : 0 }} <span
                    style="font-size: 0.7em;font-weight: 600;">{{ (measurementUnit == 'MKS') ? ("L" | translate) : ("G" | translate)}}</span>
                </p>
              </ion-col>
            </ion-row>
          </div>

          <div item-end style="padding: 3px;">
            <ion-row>
              <ion-col col-12 style="text-align: center; padding: 0px;">
                <ion-icon name="speedometer" color="gpsc" style="font-size: 1.4em;"></ion-icon>
              </ion-col>
              <ion-col col-12 style="text-align: center; padding: 0px;">
                <p style="margin: 0px;font-weight: 600;">{{ d.last_speed ? d.last_speed : 0 }} <span
                    style="font-size: 0.7em;font-weight: 600;">{{ (measurementUnit == 'MKS') ? ("KMPH" | translate) : ("Miles/hr" | translate)}}</span>
                </p>
              </ion-col>
            </ion-row>
            <!-- <ion-badge color="gpsc" style="font-size: 0.6em;">{{ d.last_speed }} km/h</ion-badge> -->
          </div>

          <div *ngIf="!showDeleteBtn(d.SharedWith)" item-end>
            <button ion-button clear color="gpsc" (click)="presentPopover($event, d); $event.stopPropagation()"
              *ngIf="option_switch" style="font-size: 4vw; margin: 0px;">
              <ion-icon ios="ios-more" md="md-more"></ion-icon>
            </button>
          </div>

          <!-- <button ion-button item-end clear color="gpsc" (click)="shareVehicle(d)" *ngIf="!option_switch"
          style="font-size: 4vw; margin: 0px;">
          <ion-icon ios="ios-share" md="md-share" *ngIf="showSharedBtn(islogin._id, d.SharedWith)"></ion-icon>
        </button> -->

          <div *ngIf="showDeleteBtn(d.SharedWith)">
            <button ion-button item-end clear color="danger" (click)="sharedVehicleDelete(d)"
              style="font-size: 4vw; margin: 0px;">
              <ion-icon ios="ios-remove-circle" md="md-remove-circle"></ion-icon>
            </button>
          </div>
        </ion-item>
        <!-- <ion-item item-start class="itemStyle" style="background:rgb(215, 216, 218); padding-left: 5px;"> -->
        <ion-row style="padding-left: 5px;margin-top: -10px;">
          <ion-col col-1 class="colSt2">
            <ion-icon name="pin" style="font-size: 0.9em; color: #696666;"></ion-icon>
          </ion-col>
          <ion-col col-10 (onCreate)="device_address(d, i)" style="margin-left: -15px;" class="colSt2">
            <div class="overme">
              {{ d.address }}
            </div>
          </ion-col>
        </ion-row>
        <!-- </ion-item> -->
        <ion-item item-start class="itemStyle" style="padding-left: 5px;">
          <ion-row style="margin-right: -3px;">
            <ion-col col-6 style="padding: 10px 0px 0px 0px;">
              <ion-row>
                <ion-col width-2 style="text-align:center">
                  <img src="assets/imgs/statusIcons/ign_red.png" *ngIf="d.last_ACC == '0'" width="20" height="20" />
                  <img src="assets/imgs/statusIcons/ign_green.png" *ngIf="d.last_ACC == '1'" width="20" height="20" />
                  <img src="assets/imgs/statusIcons/ign_idle.png" *ngIf="d.last_ACC == null" width="20" height="20" />
                </ion-col>
                <ion-col width-2 style="text-align:center">
                  <img src="assets/imgs/statusIcons/ac_na.png" *ngIf="d.ac == null" width="20" height="20" />
                  <img src="assets/imgs/statusIcons/ac_present.png" *ngIf="d.ac == '1'" width="20" height="20" />
                  <img src="assets/imgs/statusIcons/ac_empty.png" *ngIf="d.ac == '0'" width="20" height="20" />
                </ion-col>
                <ion-col width-2 style="text-align:center">
                  <img src="assets/imgs/statusIcons/fuel_available.png" *ngIf="d.currentFuel != null" width="20"
                    height="20" />
                  <img src="assets/imgs/statusIcons/fuel_empty.png" *ngIf="d.currentFuel == null" width="20"
                    height="20" />
                </ion-col>
                <ion-col width-2 style="text-align:center">
                  <img src="assets/imgs/statusIcons/power_na.png" *ngIf="d.power == null" width="20" height="20" />
                  <img src="assets/imgs/statusIcons/pwer_disconnected.png" *ngIf="d.power == '0'" width="20"
                    height="20" />
                  <img src="assets/imgs/statusIcons/power_connected.png" *ngIf="d.power == '1'" width="20"
                    height="20" />
                </ion-col>
                <ion-col width-2 style="text-align:center">
                  <img src="assets/imgs/statusIcons/gps_na.png" *ngIf="d.gpsTracking == null" width="20" height="20" />
                  <img src="assets/imgs/statusIcons/gps_notPresent.png" *ngIf="d.gpsTracking == '0'" width="20"
                    height="20" />
                  <img src="assets/imgs/statusIcons/gps_present.png" *ngIf="d.gpsTracking == '1'" width="20"
                    height="20" />
                </ion-col>
                <ion-col width-2 style="text-align:center">
                  <ion-icon name="thermometer" *ngIf="d.temp == null" style="color: gray; font-size: 1.4em;">
                  </ion-icon>
                  <ion-icon name="thermometer" *ngIf="d.temp == '0'" style="font-size: 1.4em; color: #ff3f32;">
                  </ion-icon>
                  <ion-icon name="thermometer" *ngIf="d.temp == '1'" style="font-size: 1.4em; color: #11a46e;">
                  </ion-icon>
                </ion-col>
                <ion-col width-2 style="text-align:center">
                  <img src="assets/imgs/statusIcons/car_no_data.png" *ngIf="d.door == null" width="20" height="20" />
                  <img src="assets/imgs/statusIcons/car_door_open.png" *ngIf="d.door == 0" width="20" height="20" />
                  <img src="assets/imgs/statusIcons/car_door_close.png" *ngIf="d.door == 1" width="20" height="20" />
                </ion-col>
                <ion-col width-2 style="text-align:center">
                  <ion-icon name="lock" style="color:#ff3f32;font-size: 1.2em;" *ngIf="d.ignitionLock == '1'">
                  </ion-icon>
                  <ion-icon name="unlock" style="color:#11a46e;font-size: 1.2em;" *ngIf="d.ignitionLock == '0'">
                  </ion-icon>
                </ion-col>
              </ion-row>
            </ion-col>
            <!-- <ion-col col-1 class="colStyle">
            <div class="trd">
              <div class="divc"></div>
            </div>
          </ion-col> -->
            <ion-col col-6 class="colSt123" (click)="getDistanceReport(d)">
              <p style="color:#fff;font-size: 10px;font-weight: 400;margin-top: 6px; margin-left: 49%;">
                {{ "Today's Odo" | translate }}
              </p>
              <ion-icon name="refresh" style="color:#fff;margin-top: 6px; margin-left: 60%;"
                *ngIf="d.distance === undefined"></ion-icon>
              <p style="color:#fff;font-size: 11px;font-weight: bold;margin-top: 8px; margin-left: 49%;"
                *ngIf="d.distance !== undefined">
                {{ d.distance }}
                {{ (measurementUnit == 'MKS') ? ("Km" | translate) : ("Miles" | translate)}}
              </p>

              <!-- <p style="color:#fff;font-size: 10px;font-weight: 400;margin-top: 6px; margin-left: 49%;">
                {{ "Today's Odo" | translate }}
              </p>
              <p style="color:#fff;font-size: 11px;font-weight: bold;margin-top: 6px; margin-left: 49%;">
                {{ d.today_odo | number: "1.0-2" }}
                {{ (measurementUnit == 'MKS') ? ("Kms" | translate) : ("Miles" | translate)}}
              </p> -->
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-row style="background-color: #000;
      color: white;
      font-weight: bold;font-size: 0.6em;">
          <ion-col col-6>{{"Licence Purchased On" | translate}} - {{d.created_on | date:'mediumDate'}}</ion-col>
          <ion-col col-6 style="text-align: right;">{{"Licence Expired On" | translate}} -
            {{d.expiration_date | date:'mediumDate'}}
          </ion-col>
        </ion-row>
      </div>
    </ion-card>
  </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{ 'Loading more data...' | translate }}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<div padding>
  <ion-bottom-drawer *ngIf="showDrawer" [(state)]="drawerState" [minimumHeight]="minimumHeight"
    [dockedHeight]="dockedHeight" [shouldBounce]="shouldBounce" [distanceTop]="distanceTop">
    <div class="drawer-content">
      <div id="content">
        <ion-row style="padding-bottom: 16px;">
          <ion-col col-4></ion-col>
          <ion-col col-4 style="border-top: 3px solid lightgray;"></ion-col>
          <ion-col col-4></ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-3 no-padding style="text-align: center;" (click)="livetrack(drawerData)">
            <img src="assets/imgs/segment/map_active.png" style="width: 30px;" />
          </ion-col>
          <ion-col col-3 no-padding style="text-align: center;" (click)="showHistoryDetail(drawerData)">
            <img src="assets/imgs/segment/history_active.png" style="width: 30px;" />
          </ion-col>
          <ion-col col-3 no-padding style="text-align: center;" (click)="fonctionTest(drawerData)">
            <img *ngIf="drawerData.theftAlert"
              src="assets/imgs/anti-theft_anti_theft_protection_hacker_investigate-512.png" style="width: 30px;" />
            <img *ngIf="!drawerData.theftAlert" src="assets/imgs/anti-theft_anti_theftred.png" style="width: 30px;" />
          </ion-col>
          <ion-col col-3 no-padding style="text-align: center;" (click)="IgnitionOnOff(drawerData)">
            <ion-icon name="lock" style="color:#ef473a;font-size: 2em;" *ngIf="drawerData.ignitionLock == '1'">
            </ion-icon>
            <ion-icon name="unlock" style="color:#1de21d;font-size: 2em;" *ngIf="drawerData.ignitionLock == '0'">
            </ion-icon>
          </ion-col>
        </ion-row>
        <ion-row style="padding-bottom: 10px;">
          <ion-col col-3 no-padding style="text-align: center;">{{"Live" | translate}}</ion-col>
          <ion-col col-3 no-padding style="text-align: center;">{{"History" | translate}}</ion-col>
          <ion-col col-3 no-padding style="text-align: center;">{{"Parking" | translate}}</ion-col>
          <ion-col col-3 no-padding style="text-align: center;">{{"Immobilize" | translate}}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-3 no-padding style="text-align: center;" (click)="towAlertCall(drawerData)">
            <ion-icon name="alert" style="color:#ef473a;font-size: 2em;" *ngIf="!drawerData.towAlert"></ion-icon>
            <ion-icon name="alert" style="color:#1de21d;font-size: 2em;" *ngIf="drawerData.towAlert"></ion-icon>
          </ion-col>
          <ion-col col-3 no-padding style="text-align: center;" (click)="dialNumber(drawerData.contact_number)">
            <!-- <ion-col col-3 no-padding style="text-align: center;"> -->
            <!-- <a href="tel:{{drawerData.contact_number}}"> -->
            <ion-icon name="call" style="color:#3a8eef;font-size: 2em;"></ion-icon>
            <!-- </a> -->
          </ion-col>
          <ion-col col-3 no-padding style="text-align: center;" (click)="showVehicleDetails(drawerData)">
            <ion-icon name="stats" style="color:#fc8803;font-size: 2em;"></ion-icon>
          </ion-col>
          <ion-col col-3 no-padding style="text-align: center;" *ngIf="!option_switch"
            (click)="shareVehicle(drawerData)">
            <ion-icon ios="ios-share" md="md-share" color="gpsc" style="font-size: 2em;"
              *ngIf="showSharedBtn(islogin._id, drawerData.SharedWith)"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-3 no-padding style="text-align: center;">{{"Tow" | translate}}</ion-col>
          <ion-col col-3 no-padding style="text-align: center;">{{"Driver" | translate}}</ion-col>
          <ion-col col-3 no-padding style="text-align: center;">{{"Analytics" | translate}}</ion-col>
          <ion-col col-3 no-padding style="text-align: center;" *ngIf="!option_switch">{{"Share" | translate}}</ion-col>
        </ion-row>
      </div>
    </div>
  </ion-bottom-drawer>
</div>
